/* html changes */

@font-face {
  font-family: Roboto;
  src: url(https://fonts.googleapis.com/css?family=Roboto);
}
html {
  height: 100%;
  width: 100%;
  z-index: 5;
}
html *{
  font-family: Roboto, sans-serif;
  font-size:14px;
}
button {
  user-select: none;
  cursor: pointer;
}
section{
  margin-top: 25px;
}
h1{
  font-size: 18px;
  margin: 20px 0 10px 0;
}
hr {
  color: grey;
  opacity: 0.3;
}
.clearFix{
  overflow: hidden;
}

/* navigation/header */

.nav{
  margin: 15px 10px 0px 10px;
}
nav {
position: -webkit-sticky;
position: sticky;
display: flex;
top: 0;
background-color: white;
height: 60px;
z-index: 10;
}
#navigation svg{
  height: 24px;
  width: 24px;
}
#navigation {
  opacity: 0.5;
}
#searchBar{
  background-color: white;
  display: table;
  border: 1px solid RGB(128,128,128,0.5);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
#searchInput{
  float: left;
}
#searchInput input{
  border-color: transparent;
  outline: none;
  line-height: 24px;
  width: 500px;
}
#searchInput img {
  margin: 0 5px 0 5px;
}
#searchBar form button{
  width: 60px;
  background-color: transparent;
  border-color: transparent;
  border-left: 1px solid RGB(128,128,128,0.5);
}
#searchBar form button svg{
  width: 20px;
  height: 20px;
  position: relative;
  top: 2px;
  opacity: 0.5;
}
#googleApps{
  position: absolute;
  right: 0;
}
.addOns svg{
  width: 24px;
  height: 24px;
}
.addOns{
  float: left;
  border-radius: 60%;
  padding: 6px;
  opacity: 0.6;
  margin: 7px;
}
#googlePlus img{
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
#googlePlus{
  float: left;
  border-radius: 50%;
  margin: 9px;
}

/* video and description */

#video{
  margin: 0 25px 0 25px;
  float: left;
}


#vidViews{
  font-size: 17px;
  opacity: 0.7;
}
#buttonContainer{
  float:right;
  position: relative;
  height: 40px;
}
#buttonContainer svg{
  width: 20px;
  height: 20px;
  fill: #909090;
  position: relative;
  top: 6px;
  border-radius: 50%;
  padding: 5px;
}
#buttonContainer button{
  border: none;
  background-color: transparent;
  color: #909090;
  font-size: 13px;
  height: 100%;
}
#channel img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}
#subBtnContainer{
  float:right;
}
#subBtnContainer button{
  padding: 10px 15px 10px 15px;
  border: none;
  color: white;
  background-color: red;
  font-size: 14px;
  position: relative;
  top: -30px;
}
#subBtnContainer span{
  margin-right: 5px;
  font-weight: 500;
}
#description{
  margin-left: 70px;
  line-height: 150%;
}
#description span{
  color: grey;
  font-size:15px;
  line-height: 250%;
  user-select: none;
}
.channelName{
  font-weight: 500;
  margin: 10px 0 10px 0;
}

/* comment section */

.accountPic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#videoComments{
  margin: 10px 10px 10px 0;
}
#commentCount{
  font-size: 16px;
  margin-right: 20px;
}
#videoComments button{
  background-color: transparent;
  border: none;
  position: relative;
  top: 5px;
}
#videoComments button svg{
  width: 25px;
  height: 25px;
  opacity: 0.6;
}
#videoComments button span{
  position: relative;
  top: -8px;
  opacity: 0.6;
  font-weight: 500;
  font-size: 14px;
}
#addComment{
  margin: 30px 0 20px 0;
}
#videoComments img{
  float: left;
  margin-right: 20px;
}
.commentContent {
  float: left;
}
#addComment input{
  float: inherit;
  box-sizing: border-box;
  width:1000px;
  max-width: 100%;
  padding: 3px;
  border: none;
  border-bottom: 2px solid #e6e6e6;
  transition: border-bottom .5s ease-in-out;
}
#addComment input:focus{
  outline: none;
  border-bottom: 2px solid grey;
}
.comment {
  display: block;
  margin-top: 25px;
}
.showMore{
  display: table;
  font-weight: 500;
  font-size: 14px;
  padding: 5px 5px 5px 0;
  margin-top: 2px;
  user-select: none;
  cursor: pointer;
}
.showMore svg{
  width: 16px;
  height: 16px;
}
.time {
  opacity: 0.6;
  font-size: 13px;
}
.accName {
  font-weight: 500;
  font-size: 13px;
}
#videoComments p{
  margin-top: 10px;
}
.comBtnContainer{
  margin: 5px 0 5px 0;
  display: flex;
  align-items: center;
  font-size: 12px;
}
#commentSection button svg{
  width: 16px;
  height: 16px;
  background-color: none;
  border-radius:50%;
  padding: 4px;
  opacity: 0.5;
}
#commentSection button{
  outline: none;
  top: 0;
}
#commentSection svg:active{
  background-color: blue;
}
.relpyBtn{
  font-size: 13px;
  opacity: 0.6;
  font-weight: 550;
}

/* recommended videos*/

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 13px;
  float: right;
  margin: 0 3px 3px 10px;
}
.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: -2px;
  bottom: -3px;
  background-color: #999;
  transition: .2s;
}
input:checked + .slider:before {
  background-color: #06d;
}
input:checked + .slider:before {
  transform: translateX(20px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
#recVidHeader{
  margin: 20px 0 20px 0;
}
#recommendedVideos{
  width: 420px;
}
.videos img {
  width: 170px;
  height: 100px;
  float: left;
  margin: 0 8px 5px 0;

}
.videoName{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 16px;
  max-height: 32px;
}
.videos{
  margin-top: 5px;
}
.videoName {
  font-weight: 500;
}
.author,
.views {
  color: rgb(58,58,58);
  opacity: 0.8;
  margin-top: 5px;
  font-size: 13px;
}

#recommendedVideos a{
  text-decoration: none;
  color: black;
}
#recommendedVideos a:visited{
  color: black;
}
